@model  CC_Q1_Northwind.Customer

@{
    ViewBag.Title = "GetCustomerDetails";
}

<h2>Customer(OID : 10248) Details :</h2>

<p>Company Name: @Model.CompanyName</p>
<p>Contact Name: @Model.ContactName</p>
<p>Address: @Model.Address</p>
<p>City: @Model.City</p>
<p>Country: @Model.Country</p>

